{{#with content}}
  <div class="image_row">
    <div class="left">
      <img {{bindAttr src="thumbnail"}}>
    </div>
    <div class="right">
      <label>{{title}}</label>
    </div>
  </div>
{{/with}}
